body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;

}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
h7{
color: #fff;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*定位*/
select {
	margin:0;
	padding:0;
}
.clearfix:after{
	content: " ";
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0;
	clear: both;
}
.clearfix{zoom:1;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;} 
.pr{position:relative;}
.pa{position:absolute;}
.hidden{visibility:hidden;}
.none{display:none;}
.vt {vertical-align: top;}

/*文字排版*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:bold}
.fn{font-weight:normal;}
.unl{text-decoration:underlline;}
.no_unl{text-decoration:none;}

.red{color:red;}
/*button*/
.btn {
	/**height: 30px;**/
	padding: 5px 10px;
	line-height: 1.333;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	background-color: #019AD2;
	border: 1px solid #057ED0;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/**感觉box-shadow没多大必要**/
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#33BCEF),to(#019AD2));
	background-image: -moz-linear-gradient(#33BCEF,#019AD2);
	background-image: -ms-linear-gradient(#33BCEF,#019AD2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33BCEF),color-stop(100%,#019AD2));
	background-image: -webkit-linear-gradient(#33BCEF,#019AD2);
	background-image: -o-linear-gradient(#33BCEF,#019AD2);
	background-image: linear-gradient(#33BCEF,#019AD2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
}
.btn:hover {
	/**鼠标滑过是改变3个属性**/
	border-color: #096EB3;
	background-color: #0271BF;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#2DADDC),to(#0271BF));
	background-image: -moz-linear-gradient(#2DADDC,#0271BF);
	background-image: -ms-linear-gradient(#2DADDC,#0271BF);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2DADDC),color-stop(100%,#0271BF));
	background-image: -webkit-linear-gradient(#2DADDC,#0271BF);
	background-image: -o-linear-gradient(#2DADDC,#0271BF);
	background-image: linear-gradient(#2DADDC,#0271BF);
}
/*tip*/
.tip {
	background: #E5F5FF url(../images/icons.png) no-repeat 5px -66px;;
	border: 1px solid #40B3FF;
	padding: 5px 30px;
}
