<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- 连接数据库的URL-->
		<property name="connection.url"> 
			jdbc:mysql://localhost:3306/swzl?characterEncoding=utf-8
		</property>

		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		<!--连接的登录名-->
		<property name="connection.username">root</property>

		<!--登录密码-->
		<property name="connection.password">root</property>

		<!-- C3P0连接池设定-->

		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- 最大连接数 -->
		<property name="hibernate.c3p0.max_size">120</property>
		<!-- 最小连接数 -->
		<property name="hibernate.c3p0.min_size">5</property>
		<!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->
		<property name="hibernate.c3p0.timeout">120</property>
		<!-- 最大的PreparedStatement的数量 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<!-- 每隔120秒检查连接池里的空闲连接 ，单位是秒-->
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
		<property name="hibernate.c3p0.acquire_increment">2</property>

		
		 <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		  <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.lostfound.model.User" />		
		<mapping class="com.lostfound.model.Category" />		
		<mapping class="com.lostfound.model.ThanksLetter" />
		<mapping class="com.lostfound.model.Reply" />
		<mapping class="com.lostfound.model.ClaimUser" />
		<mapping class="com.lostfound.model.Goods" />
	</session-factory>
</hibernate-configuration>